
<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(AbpProBlazorLayoutAntDesignThemeModule).Assembly }">
    <Found Context="routeData">
        <ReuseTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"></ReuseTabsRouteView>
        @* <FocusOnNavigate RouteData="@routeData" Selector="h1" />*@
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<AntContainer />